menu "Breathe config"

config SSID
    string "SSID"
    default "SSID"
    help
        SSID (network name) to connect to.

config PASSWORD
    string "PASSWORD"
    default "password"
    help
        WiFi password (WPA or WPA2) to use.

config BROKER_URL
    string "Broker URL"
    default "mqtt://mqtt.eclipseprojects.io"
    help
        URL of the broker to connect to
endmenu
